<!DOCTYPE html>
<html ng-app="App">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="public/css/app.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="public/js/app.module.js"></script>
    <script src="public/js/app.ctrl.js"></script>
    <script src="public/js/service/sequence.service.js"></script>
    <script src="public/js/service/audio.service.js"></script>
<head>
</head>
<body ng-controller="AppCtrl">
    <div class="container">
        <div class="content">

            <button class="tl quadrant ng-class: {'green-light': green}"
                    ng-mousedown="lightUp(1)"
                    ng-mouseup="passUserInput(1)">
            </button>
            <button class="tr quadrant ng-class: {'red-light': red}"
                    ng-mousedown="lightUp(2)"
                    ng-mouseup="passUserInput(2)">
                </button>
            <button class="bl quadrant ng-class: {'yellow-light': yellow}"
                    ng-mousedown="lightUp(3)"
                    ng-mouseup="passUserInput(3)">
            </button>
            <button class="br quadrant ng-class: {'blue-light': blue}"
                    ng-mousedown="lightUp(4)"
                    ng-mouseup="passUserInput(4)">
            </button>

            <div class="game-ctrl-border">
                <div class="game-ctrl">
                <div class="title"><b>simon</b></div>
                    <div class="screen">
                        <div class="screen-txt">{{ textDisplay }}</div>
                    </div>
                    <span class="border-start btn-border">
                        <button type="button"
                                class="btn-start"
                                ng-click="!on || init()">
                        </button>
                    </span>
                    <div class="border-strict btn-border">
                        <button type="button"
                                class="btn-strict ng-class:{'btn-shadow': strict}"
                                ng-click="strict = !strict">
                        </button>
                    </div>
                    <span class="label label-round">ROUND</span>
                    <span class="label label-start">START</span>
                    <span class="label label-strict">STRICT</span>
                    <span class="label label-off">OFF</span>
                    <span class="border-on-off btn-border">
                        <button class="btn-off ng-class: {'btn-grey': !on};"
                                ng-click="toggleOnOff();">
                        </button>
                        <button class="btn-on ng-class: {'btn-grey': on};"
                                ng-click="toggleOnOff()">
                        </button>
                    </span>
                    <span class="label label-on">ON</span>
                </div>
            </div>

        </div>  <!-- content -->
    </div>  <!-- container -->
</body>
</html>
